* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*NAVBAR*/
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #97986f;
}
.navbar-brand {
    color: #97986f !important;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #a3b795;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #97986f;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #97986f;
}
.nav-link:focus {
    color: #a3b795;
}
/*ABOUT*/
.about--page {
    min-height: 100vh;
    background-color: #fff;
}
.about--page__text {
    color: #97986f;
    text-align: center;
    margin-top: 10%;
}

.about--page__img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}
.txt-type > .txt {
     border-right: 0.1rem solid #97986f;
}
/*MEDIA ICONS*/

.media--icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: fixed;
    width: 100px;
    z-index: 1;
}

.media--icon__circle {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 56px;
    border-radius: 50%;
    border: 3px solid #97986f;
    position: absolute;
}
.media--icon__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    cursor: pointer;
}
.media--icon__wrapper i {
    transform: scale(1.9);
    color: #97986f;
    transition: all 0.5s ease;
}
.media--icon__wrapper:hover > .media--icon__circle{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 56px;
    border-radius: 50%;
    border: 3px solid #97986f;
    border-color: #97986f transparent #97986f transparent;
    transition-delay: 0.15s ;
    animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/*PORTFOLIO*/
.portfolio--page {
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.sliderShow--container {
    max-width: 90%;
    min-height: calc(100vh - 40px);
    position: relative;
    margin: auto;
}
.slideShow--slide{
    display: none;
}
.slideShow--slide img {
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    border: none;
    background-color: transparent;
    color: #97986f;
    margin-left: 3%;
}
.prev:focus, .next:focus {
    outline: none;
}
.prev:hover, .next:hover {
    color: #a3b795;
}

.next {
    right: -4%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #a3b795;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.activeDot, .dot:hover {
    background-color: #799365;
}
.slideShow--img {
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}
.slide-inLeft {
    animation: slide-inLeft 1.2s forwards;
    -webkit-animation: slide-inLeft 1.2s forwards;
}
.slideShow--text {
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    font-family: 'Poppins', sans-serif;
}
.slide-inRight {
    animation: slide-inRight 1.2s forwards;
    -webkit-animation: slide-inRight 1.2s forwards;
}
.slideShow--text__links {
    display: flex;
   justify-content: space-between;
}
.slideShow--text__links a:hover {
    color: #a2dcdd;
}
.slideShow--text__links a {
    color: #6cc7c8;
    text-transform: uppercase;
    font-weight: bold;
}
.slideShow--text__links i {
    margin-left: 10%;
    transform: scale(1.5);
}
.slideShow--text__links p {
    width: 160px;
    font-size: 18px;
    font-weight: bold;
}
@keyframes slide-inLeft {
    100% { transform: translateX(0%); }
}
@keyframes slide-inRight {
    100% {transform: translateX(0%); }
}
/*CONTACT*/
.contact--page {
    min-height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('images/backgrounds-close-up-close-up-572487.jpg'), center;
    background-size: cover;
}
.contactForm {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-top: 6%;
}
.contactForm--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact--info {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
}
.contact--info h1 {
    font-size: 54px;
    font-weight: bold;
}

.contact--info__detail {
    display: flex;
    margin-top: 4%;
    width: 80%;
    margin-left: 12%;
}
.contact--info__detail p {
    font-size: 24px;
    font-weight: bold;
    margin-left: 2%;
}

.contactForm--nameEmail {
    display: flex;
    justify-content: space-between;
}
.contactForm--nameEmail input {
    width: 210px;
}
.form-group {
    width: 80%;
}
.form-control {
    border: none;
    border-radius: 0;
}
.textArea {
    resize: none;
    height: 200px !important;
}
.contact--btn__submit {
    background-color: #97986f;
    color: #fff;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 3%;
}
.contact--btn__submit:hover i {
    transform: rotate(20deg);
    transition: transform .15s;
}

.contact--btn__submit:focus {
    outline: none;
}
.contactForm--alert {
    position: absolute;
    display: none;
    color: #fff;
    margin-top: -8%;
    font-weight: bold;
}

/*FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-size: 13px;
}
.copyright {
    margin: 0;
}